#stage-1 > .welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
  color: #fff;
  -webkit-animation: fadeinout 3s forwards;
          animation: fadeinout 3s forwards;
}

#stage-1 > .about {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2em;
  color: #fff;
  -webkit-animation: fadeinout 10s forwards;
          animation: fadeinout 10s forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.skip {
  position: absolute;
  top: 2%;
  left: 0%;
  font-size: 1.5em;
  color: #fff;
}

.skip button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.2em;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    left: -100%;
  }
  100% {
    opacity: 1;
    left: 0%;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
    left: 0%;
  }
  100% {
    opacity: 0;
    left: -100%;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    left: 0%;
  }
  100% {
    opacity: 0;
    left: -100%;
  }
}

@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#aboutme {
  margin: 0px 40px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ece1e1;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  #aboutme {
    font-size: 24px;
    margin: 0 20px;
  }
}

#aboutme > h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 2em;
}

#aboutme > p {
  font-size: 1em;
  text-align: center;
  margin-bottom: 4em;
}

.nav-bar {
  opacity: 0;
  display: -ms-grid;
  display: grid;
  position: fixed;
  width: 30%;
  height: 100vh;
  background-color: #0a0116;
  z-index: 1;
}

@media (max-width: 768px) {
  .nav-bar {
    width: 70%;
  }
}

.nav-bar ul {
  height: 100%;
  text-align: center;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.nav-bar ul li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-bar ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.nav-bar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 2.5em;
  text-decoration: none;
}

.hamburger {
  border: none;
  background-color: transparent;
  font-weight: 900;
  font-size: 1.5em;
  position: absolute;
  height: 50px;
  width: 50px;
  left: 0%;
  color: #fff;
  background-color: transparent;
  top: 1%;
  z-index: 999;
  left: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger-closed {
  display: none;
  font-size: 2em;
  font-weight: 600;
}

.hamburger-open {
  letter-spacing: -2px;
  line-height: 10px;
  display: block;
}

.nav-bar-closed {
  -webkit-animation: fadeout 0.5s forwards ease-in;
          animation: fadeout 0.5s forwards ease-in;
}

.nav-bar-open {
  display: -ms-grid;
  display: grid;
  -webkit-animation: fadein 0.5s forwards ease-out;
          animation: fadein 0.5s forwards ease-out;
}

#projects {
  height: 100vh;
  min-height: 100vh;
  background-color: #c5846a;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30px;
  /* when */
}

@media only screen and (max-width: 768px) {
  #projects {
    font-size: 24px;
  }
}

#projects h1 {
  font-size: 3em;
  font-weight: 800;
}

#projects h2 {
  font-size: 3em;
  font-weight: 700;
}

#projects p {
  font-size: 0.5em;
  text-align: center;
}

#projects .project-card {
  display: none;
  height: 100%;
}

#projects .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

#projects .active,
#projects .dot:hover {
  background-color: #717171;
}

#projects .project-image {
  height: 100%;
  position: relative;
}

#projects .project-image:hover {
  opacity: 0.7;
}

#projects .project-image:hover .read-more {
  visibility: visible;
  opacity: 1;
}

#projects .read-more {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s, visibility 0.2s;
  transition: opacity 0.2s, visibility 0.2s;
}

#projects .text {
  font-size: 1em;
  padding: 8px 12px;
  position: absolute;
  background-color: #ccc5c5;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.carousel {
  max-width: 1000px;
  width: 80%;
  height: 70vh;
  position: relative;
}

.carousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: #acabab;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9998;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  max-height: 100vh;
}

.modal .modal-header {
  font-size: 24px;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  margin-bottom: 1em;
}

.modal .modal-header > span {
  float: right;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.modal .modal-header > span:hover {
  color: #999;
}

.modal .modal-header > h2 {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
}

.modal .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.modal .modal-body {
  padding: 2px 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

.modal .modal-body > p {
  font-size: 1em;
  margin-bottom: 2em;
  text-align: center;
  background-color: #888;
}

.modal .modal-body .carousel-modal {
  width: 100%;
}

.modal .modal-body .container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-body .modal-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-body .modal-description > p {
  font-size: 1em;
  text-align: center;
  background-color: #888;
}

.modal .modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  position: absolute;
  bottom: 1em;
}

.modal .modal-dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.modal .carousel-item {
  height: 100%;
  width: 100%;
}

.modal .carousel-item img {
  -o-object-fit: contain;
     object-fit: contain;
}

.modal .active,
.modal .modal-dot:hover {
  background-color: #717171;
}

#contact {
  background-color: rgba(216, 131, 33, 0.692);
  height: 100vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  #contact {
    font-size: 24px;
  }
}

#contact > h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1em;
}

#contact > p {
  font-size: 1em;
  margin-bottom: 2em;
  text-align: center;
}

#contact #form {
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact #form input {
  padding: 10px;
}

#contact #form textarea {
  padding: 10px;
  resize: none;
  overflow-y: scroll;
}

#contact #form button {
  padding: 10px;
}

html,
body,
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  cursor: none;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #832b2b;
  height: 100vh;
}

#main-page {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
}

#circle-in {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: #101111;
  padding: 5px;
  border: inherit solid 10px;
  z-index: 99999;
  pointer-events: none;
}

#circle {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  pointer-events: none;
  z-index: 9999;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background: transparent;
  position: absolute;
  padding: 5px;
  border: black solid 5px;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
/*# sourceMappingURL=style.css.map */